<!DOCTYPE html>
<html lang="en">
  <head>
      {{>headerlinks}}

  </head>
  <body>
   {{>navbar}}


   <!-- Main Header -->
   <div class="container-fluid main_header">
    <div class="row">
      <div class="col-md-10 col-10 mx-auto">
        <div class="row">
         <!-- main_header-left -->
          <div class="col-md-6 col-12 main_header_left">
            <p> Welcome to Wehter website</p><br>
            {{errormsge}}<br>
           <a href="http://localhost:4000"><br>
           <br><button>Go Back</button></a>
          </div>
         <!-- main_header-right -->

          <div class="col-md-6 col-12 main_header_right">
         
            <figure>
              <img src="images/icon.png" alt="Ayush" class="img-fluid" title="Ayush Shirpurkar">
            </figure>
           


          </div>

        </div>
      </div>
    </div>
  </div>

    {{>footersection}}
  </body>
</html>
