<!DOCTYPE html>
<html lang="en">
  <head>
       {{>headerlinks}}

  </head>
  <body>
    {{>navbar}}


   <!-- Main Header -->
   <div class="container-fluid main_header">
    <div class="row">
      <div class="col-md-10 col-10 mx-auto">
        <div class="row">
         <!-- main_header-left -->
          <div class="col-md-6 col-12 main_header_left">
            <p>Welcome to Wether App</p>
            <h2>Get The Latest <span class="text_color">Weather</span>  Info Of Your City</h2>
            <a href="/weather"><button>Click Now</button></a>

          </div>
         <!-- main_header-right -->

          <div class="col-md-6 col-12 main_header_right">
            <!-- <figure>
              <img src="images/download1.jpg" alt="Ayush" class="img-fluid" title="Ayush Shirpurkar">
            </figure>
            -->
           

{{>imagesrotate}}

          </div>

        </div>
      </div>
    </div>
  </div>
 
    {{>footersection}}
  </body>
</html>
